Repository illright/attractions: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-css:fix --silent -- --max-warnings 0, pnpm lint-svelte, pnpm lint-format:fix --silent -- --ignore-unknown

.lintstagedrc.yaml:

'**/*.{js,svelte}':
  - pnpm lint-js:fix --silent -- --max-warnings 0
'**/*.{css,scss}':
  - pnpm lint-css:fix --silent -- --max-warnings 0
'**/*.svelte':
  - pnpm lint-svelte
'**/*':
  - pnpm lint-format:fix --silent -- --ignore-unknown

Purge unused dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Ignore Sapper's files with `svelte-check`
  package.json
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Disable the rule for no descending specificity
  .stylelintrc.yaml
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Fix a bug in the datetime utils
  attractions/utils/datetime-utils.js
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-format:fix --silent -- --ignore-unknown

Remove `:global` selector from styles
  attractions/table/table.scss
Due: pnpm lint-css:fix --silent -- --max-warnings 0, pnpm lint-format:fix --silent -- --ignore-unknown

Adjust script block indentation
  docs/src/routes/docs/components/table.svx
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Add extension recommendations to the workspace
  .vscode/extensions.json
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Format on save using Prettier
  .vscode/settings.json
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Allow warn logs of Prettier
  package.json
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Bring back the needed ESLint rules
  .eslintrc.yaml
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Speed up `lint-staged`
  .husky/pre-commit
  .lintstagedrc.yaml
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Update `pnpm` in CI
  .github/workflows/build-pr-docs.yml
  .github/workflows/lint-pr.yml
  .github/workflows/manual-deploy.yml
  .github/workflows/on-release.yml
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Fix linter issues
  attractions/table/table.scss
Due: pnpm lint-css:fix --silent -- --max-warnings 0, pnpm lint-format:fix --silent -- --ignore-unknown

Slider component
  attractions/_variables.scss
  attractions/slider/actions.js
  attractions/slider/handle.scss
  attractions/slider/handle.svelte
  attractions/slider/slider.scss
  attractions/slider/slider.svelte
  attractions/slider/types.ts
  attractions/slider/utils.js
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-css:fix --silent -- --max-warnings 0, pnpm lint-svelte, pnpm lint-format:fix --silent -- --ignore-unknown

Slider docs
  attractions/index.js
  attractions/slider/slider.svelte
  attractions/slider/utils.js
  docs/src/routes/docs/_layout.svelte
  docs/src/routes/docs/components/slider.svx
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-svelte, pnpm lint-format:fix --silent -- --ignore-unknown

Fix linting errors in slider with new config
  attractions/slider/handle.scss
  attractions/slider/handle.svelte
  attractions/slider/slider.scss
  attractions/slider/slider.svelte
  attractions/slider/utils.js
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-css:fix --silent -- --max-warnings 0, pnpm lint-svelte, pnpm lint-format:fix --silent -- --ignore-unknown

Change handle props, types and defaults in slider
  attractions/slider/handle.svelte
  attractions/slider/slider.scss
  attractions/slider/slider.svelte
  attractions/slider/utils.js
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-css:fix --silent -- --max-warnings 0, pnpm lint-svelte, pnpm lint-format:fix --silent -- --ignore-unknown

Remove default for min,max,value in slider docs
  docs/src/routes/docs/components/slider.svx
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Remove props validation in slider
  attractions/slider/slider.svelte
  attractions/slider/utils.js
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-svelte, pnpm lint-format:fix --silent -- --ignore-unknown

Use clientX for position in slider
  attractions/slider/utils.js
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-format:fix --silent -- --ignore-unknown

Change name and type signature for id func in slider utils
  attractions/slider/utils.js
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-format:fix --silent -- --ignore-unknown

Simplify step creation function
  attractions/slider/utils.js
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-format:fix --silent -- --ignore-unknown

Use key instead of KeyCode for keyboard nav in slider
  attractions/slider/slider.svelte
  attractions/slider/utils.js
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-svelte, pnpm lint-format:fix --silent -- --ignore-unknown

Bump dependencies
  attractions/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Bump the minor version
  attractions/package.json
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Update the changelog
  CHANGELOG.md
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Convert the root package configuration to YAML
  package.json
  package.yaml
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Add `--no-git-checks` to `pnpm publish`
  .github/workflows/on-release.yml
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Fix the documentation bulid on release
  .github/workflows/on-release.yml
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Ensure `export` is a script
  .github/workflows/on-release.yml
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Enable type checking for JavaScript files
  attractions/tsconfig.json
Due: pnpm lint-format:fix --silent -- --ignore-unknown

Optimize redundant code and remove unused parts
  attractions/slider/actions.js
  attractions/slider/slider.svelte
  attractions/slider/utils.js
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-svelte, pnpm lint-format:fix --silent -- --ignore-unknown

Improve JSDoc and types
  attractions/slider/actions.js
  attractions/slider/handle.svelte
  attractions/slider/slider.svelte
  attractions/slider/types.ts
  attractions/slider/utils.js
  attractions/tsconfig.json
  docs/src/routes/docs/components/slider.svx
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-svelte, pnpm lint-format:fix --silent -- --ignore-unknown

Remove unused prop
  attractions/slider/handle.svelte
  attractions/slider/slider.svelte
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-svelte, pnpm lint-format:fix --silent -- --ignore-unknown

Add `internalValue` to hold the array-style value
  attractions/slider/slider.svelte
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-svelte, pnpm lint-format:fix --silent -- --ignore-unknown

Remove the state store
  attractions/slider/slider.svelte
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-svelte, pnpm lint-format:fix --silent -- --ignore-unknown

Improve focus handling
  attractions/slider/handle.svelte
Due: pnpm lint-js:fix --silent -- --max-warnings 0, pnpm lint-svelte, pnpm lint-format:fix --silent -- --ignore-unknown

Add a couple more examples
  docs/src/routes/docs/components/slider.svx
Due: pnpm lint-format:fix --silent -- --ignore-unknown
